<template>

  <v-layout row wrap class="login-page">
    <v-flex xs12 class="login-container">
      <div class="login">
        <v-alert type="error" :value="error">
          {{ errorMessage }}
        </v-alert>
        <v-text-field
          box
          @blur="$v.email.$touch()"
          @keyup.enter="login"
          :error="$v.email.$error"
          :error-messages="$v.email.$error ? 'Ju lutem plotesoni sakte E-mailin' : [] "
          color="deep-purple"
          label="Email"
          v-model.trim="email"
        ></v-text-field>
        <v-text-field
          box
          @blur="$v.password.$touch()"
          @keyup.enter="login"
          :error="$v.password.$error"
          :error-messages="$v.password.$error ? 'Ju lutem plotesoni passwordin tuaj' : [] "
          color="deep-purple"
          label="Password"
          type="password"
          v-model.trim="password"></v-text-field>
        <v-flex xs12 class="btn-login">
          <v-btn color="info" @click="login">Login</v-btn>
        </v-flex>
        <div class="loading-wrapper" v-if="loading">
          <v-progress-circular class="loading" :size="70" :width="7" indeterminate color="purple"></v-progress-circular>
        </div>
      </div>
    </v-flex>
  </v-layout>
</template>

<script src="./Login.js"></script>
<style scoped>
  .login-page {
    background-color: aqua;
  }
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login {
    background-color: azure;
    width: 500px;
    position: relative;
    padding: 20px 30px;
    border-radius: 15px;
  }
  .btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loading-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(255, 255, 244, 0.5);
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
