<template>
    <v-layout row justify-center>

        <v-dialog v-model="getProfileStatus" maxWidth="700" :fullscreen="isMobileScreen" persistent transition="dialog-bottom-transition" :overlay="false">
        <v-card>
          <v-toolbar dark v-gradient>
            <v-btn icon @click.native="closeDialog" dark>
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Të dhënat e Profilit</v-toolbar-title>
          </v-toolbar>

          <v-layout class="mt-4" row wrap justify-center>
            <v-flex xs10 md5>
              <v-text-field readonly label="Emri Juaj" v-model.trim="name" color="deep-purple" ></v-text-field>
            </v-flex>

            <v-flex xs10 md5 class="ml-2">
              <v-text-field readonly label="Mbiemri Juaj" v-model.trim="lname" color="deep-purple"></v-text-field>
            </v-flex>

            <v-flex xs10 md5>
              <v-text-field readonly label="Email Juaj" v-model.trim="email" color="deep-purple"></v-text-field>
            </v-flex>

            <v-flex xs9 md4 class="ml-2">
              <v-text-field readonly type="password" label="Password Juaj" color="deep-purple" value="Xse##!ks99;"></v-text-field>
            </v-flex>

            <v-flex xs1 md1>
              <v-btn outline small fab color="deep-purple" class="btn-change-password" @click="changePassword">
              <v-icon>edit</v-icon>
              </v-btn>
            </v-flex>

            <v-flex xs10 md5>
              <v-text-field readonly v-model="status" label="Statusi Juaj"></v-text-field>
            </v-flex>

            <v-flex xs10 md5 class="ml-2">
              <v-text-field readonly v-model="userType" label="Tipi Juaj" color="deep-purple"></v-text-field>
            </v-flex>

            <v-flex xs10 md7>
              <v-text-field readonly v-model="department" label="Departamenti" color="deep-purple"></v-text-field>
            </v-flex>
          </v-layout>

        </v-card>
      </v-dialog>
    </v-layout>
</template>
<script src="./Profile.js"></script>
