<template>
  <v-layout row justify-center v-if="modal">
    <v-dialog v-model="modal" persistent max-width="400">
      <v-card>
        <v-card-title class="headline white--text fill-height justify-center" style="background-color: #4A148C;">
          <v-layout row wrap justify-center>

            <v-flex xs12>
              <p class="text-xs-center">Për arsye sigurie ju do tju duhet të logoheni sërish pas:</p>
            </v-flex>

          </v-layout>
        </v-card-title>
        <v-card-text class="text-xs-center">
          <h2>{{ time }}</h2>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>

  export default {
    props: {
      modal: {
        default: false
      }
    },
    data() {
      return {
        timeout: null,
        time: 5,
        interval: null
      }
    },
    watch: {
      modal(newValue) {
        if (newValue) {
          this.beginTime()
        }
      }
    },
    methods: {
      beginTime () {
        this.interval = setInterval(() => {
          if (this.time === 0) {
            this.logout()
            return clearInterval(this.interval)
          }
          this.time--
        },1000)
      },
      async logout () {
        this.$emit('update:modal', false)
        this.$store.dispatch('logout')
        this.$router.push({name: 'Login'})
      },
    }
  }
</script>
