<template>
    <v-layout row justify-center>
      <v-dialog v-model="dialog" maxWidth="700" persistent :fullscreen="isMobileScreen" transition="dialog-bottom-transition" :overlay="false">
        <v-card color="grey lighten-3">

          <v-toolbar dark v-gradient v-if="loading">
            <v-progress-linear :indeterminate="true" color="white"></v-progress-linear>
          </v-toolbar>

          <v-toolbar dark color="deep-purple" v-else>

            <v-btn icon @click.native="closeDialog" dark>
              <v-icon>close</v-icon>
            </v-btn>

            <v-toolbar-title>Shto Çështje</v-toolbar-title>

            <v-spacer></v-spacer>

            <v-toolbar-items>
              <v-btn dark flat @click.native="save">Ruaj</v-btn>
            </v-toolbar-items>

          </v-toolbar>

          <v-layout row wrap justify-center>
            <v-flex xs11>
              <v-layout row wrap justify-center class="mb-3 mt-3">


                <v-flex xs12 sm6>
                  <v-text-field
                    box
                    @blur="$v.nrakti.$touch()"
                    color="deep-purple"
                    label="Numri i Aktit"
                    :error="$v.nrakti.$error"
                    :error-messages="$v.nrakti.$error ? 'Plotësoni numrin e Aktit': []"
                    v-model.trim="nrakti"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 sm6 class="pl-2">
                <v-text-field
                  box
                  @blur="$v.plaintiff.$touch()"
                  :error="$v.plaintiff.$error"
                  :error-messages="$v.plaintiff.$error ? 'Plotësoni Paditësin': []"
                  color="deep-purple"
                  label="Paditësi"
                  v-model.trim="plaintiff"
                ></v-text-field>
                </v-flex>

                <v-flex xs12 sm6>
                  <v-text-field
                    box
                    @blur="$v.defendent.$touch"
                    :error="$v.defendent.$error"
                    :error-messages="$v.defendent.$error ? 'Plotësoni të paditurin' : [] "
                    color="deep-purple"
                    label="I padituri"
                    v-model.trim="defendent"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 sm6 class="pl-2">
                  <v-text-field
                    box
                    @blur="$v.thirdParties.$touch()"
                    :error="$v.thirdParties.$error"
                    :error-messages="$v.thirdParties.$error ? 'Plotësoni palët e treta' : [] "
                    color="deep-purple"
                    label="Palët e treta"
                    v-model.trim="thirdParties"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 sm6>
                  <v-text-field
                    box
                    @blur="$v.object.$touch()"
                    :error="$v.object.$error"
                    :error-messages="$v.object.$error ? 'Plotësoni objektin e padisë' : [] "
                    color="deep-purple"
                    label="Objekti i padisë"
                    v-model="object"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 sm6 class="pl-2">
                  <v-text-field
                    box
                    @blur="$v.judge.$touch()"
                    :error="$v.judge.$error"
                    :error-messages="$v.judge.$error ? 'Plotësoni gjykatësin' : [] "
                    color="deep-purple"
                    label="Gjykatesi"
                    v-model.trim="judge"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 sm6>
                  <v-text-field
                    box
                    @blur="$v.claimValue.$touch()"
                    type="number"
                    :error="$v.claimValue.$error"
                    :error-messages="$v.claimValue.$error ? 'Plotësoni vlerën e padise' : [] "
                    color="deep-purple"
                    label="Vlera e padisë (mln lekë)"
                    v-model.trim="claimValue"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 sm6 class="pl-2 mt-4">
                  <v-select
                    :items="courtItems"
                    item-text="courtText"
                    item-value="id"
                    @blur="$v.court.$touch()"
                    :error="$v.court.$error"
                    :error-messages="$v.court.$error ? 'Zgjidhni Gjykatën' : [] "
                    v-model="court"
                    color="deep-purple"
                    label="Zgjidhni Gjykaten"
                    single-line
                  ></v-select>
                </v-flex>

                <v-flex xs12 sm6>
                  <v-select
                    :items="monthItems"
                    item-text="monthText"
                    item-value="id"
                    @blur="$v.month.$touch()"
                    :error="$v.month.$error"
                    :error-messages="$v.month.$error ? 'Ju lutem zgjidhni muajin' : [] "
                    v-model="month"
                    color="deep-purple"
                    label="Zgjidhni muajin"
                    single-line
                  ></v-select>
                </v-flex>

                <v-flex xs12 sm6 class="pl-2">
                  <v-select
                    :items="lawyerItems"
                    item-text="nameSurname"
                    item-value="id"
                    autocomplete
                    no-data-text="Avokati nuk ekziston"
                    @blur="$v.lawyer.$touch()"
                    :error="$v.lawyer.$error"
                    :error-messages="$v.lawyer.$error ? 'Ju lutem zgjidhni avokatin' : [] "
                    v-model="lawyer"
                    color="deep-purple"
                    label="Zgjidhni Avokatin"
                    single-line
                  ></v-select>
                </v-flex>

                <v-flex xs12>
                  <v-layout row wrap justify-center>
                    <p>Çështje për arkivim</p>
                  </v-layout>
                </v-flex>

                <v-flex xs8 md6>
                  <v-layout row justify-center>
                      <v-radio-group v-model="archived" :mandatory="false" row>
                        <v-radio color="purple darken-1" label="Arkivuar" value="Po"></v-radio>
                        <v-radio color="purple darken-1" label="Jo e Arkivuar" value="Jo"></v-radio>
                      </v-radio-group>
                  </v-layout>
                </v-flex>

              </v-layout>
            </v-flex>
          </v-layout>

        </v-card>
      </v-dialog>
    </v-layout>
</template>

<script src="./AddCase.js"></script>

