<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="500px">
      <v-card>

        <v-card-title>
          <v-progress-linear color="deep-purple" :indeterminate="true" v-if="loading"></v-progress-linear>
          <span class="headline" v-if="!loading">Editoni Cështje</span>
        </v-card-title>

        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap justify-center>

              <v-flex xs12 md6>
                <v-select
                  label="Rez. Cështjes"
                  item-text="caseResult"
                  item-value="id"
                  v-model="caseResult"
                  color="deep-purple"
                  :items="caseResultItems"
                ></v-select>
              </v-flex>

              <v-flex xs12 md6>
                <v-select
                  label="Arkivuar"
                  v-model="archived"
                  color="deep-purple"
                  :items="archivedItems"
                ></v-select>
              </v-flex>

              <v-flex xs12 md6>
                <v-text-field
                  @blur="$v.claimValue.$touch()"
                  :error="$v.claimValue.$error"
                  :error-messages="$v.claimValue.$error ? 'Plotësoni vlerën e padisë' : []"
                  label="Vlera e padisë (mln lek)"
                  type="number"
                  v-model="claimValue"
                  color="deep-purple"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 md6>
                <v-select
                  label="Gjykata"
                  item-text="courtText"
                  item-value="id"
                  v-model="court"
                  color="deep-purple"
                  :items="courtItems"
                ></v-select>
              </v-flex>

              <v-flex xs12 md6>
                <v-text-field
                  @blur="$v.defendent.$touch()"
                  :error="$v.defendent.$error"
                  :error-messages="$v.defendent.$error ? 'Plotësoni të paditurin' : []"
                  label="I padituri"
                  v-model="defendent"
                  color="deep-purple"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 md6>
                <v-select
                  label="Avokati"
                  item-text="nameSurname"
                  item-value="id"
                  v-model="lawyer"
                  :items="lawyerItems"
                  autocomplete
                  no-data-text="Avokati nuk ekziston"
                  color="deep-purple"
                ></v-select>
              </v-flex>

              <v-flex xs12 md6>
                <v-text-field
                  @blur="$v.nrakti.$touch()"
                  :error="$v.nrakti.$error"
                  :error-messages="$v.nrakti.$error ? 'Plotësoni numrin e aktit' : []"
                  label="Nr. Aktit"
                  color="deep-purple"
                  v-model="nrakti"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 md6>
                <v-text-field
                  @blur="$v.object.$touch()"
                  :error="$v.object.$error"
                  :error-messages="$v.object.$error ? 'Plotësoni objektin' : []"
                  label="Objekti"
                  color="deep-purple"
                  v-model="object"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 md6>
                <v-text-field
                  @blur="$v.plaintiff.$touch()"
                  :error="$v.plaintiff.$error"
                  :error-messages="$v.plaintiff.$error ? 'Plotësoni paditësin' : []"
                  label="Paditesi"
                  v-model="plaintiff"
                  color="deep-purple"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 md6>
                <v-text-field
                  @blur="$v.thirdParties.$touch()"
                  :error="$v.thirdParties.$error"
                  :error-messages="$v.thirdParties.$error ? 'Plotësoni palët e treta' : []"
                  label="Palët e treta"
                  color="deep-purple"
                  v-model="thirdParties"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 md6>
                <v-text-field
                  label="Vendimi i gjykates"
                  v-model.trim="courtDecision"
                  color="deep-purple"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 md6>
                <v-text-field
                  label="Numri i vendimit"
                  v-model.trim="decisionNumber"
                  color="deep-purple"
                ></v-text-field>
              </v-flex>

            </v-layout>
          </v-container>
        </v-card-text>

        <v-card-actions v-if="!loading">
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="closeDialog">Mbyll</v-btn>
          <v-btn color="blue darken-1" flat @click.native="saveEdited">Regjistro</v-btn>
        </v-card-actions>

      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script src="./EditCase.js"></script>
