<template>
  <v-layout row wrap justify-center>
    <v-dialog v-model="dialog" persistent maxWidth="500px">
      <v-card>

        <v-card-title>
          <v-progress-linear color="deep-purple" :indeterminate="true" v-if="loading"></v-progress-linear>
          <span class="headline" v-if="!loading">Editoni Seancë</span>
        </v-card-title>

        <v-card-text>

          <v-container grid-list-xl fluid>

            <v-layout wrap>

              <v-text-field
                @keyup="isCaseNumberValid = 'processing';checkCaseNumber($event.target.value)"
                @blur="$v.caseNumber.$touch()"
                :error="$v.caseNumber.$error"
                :error-messages="$v.caseNumber.$error ? 'Plotësoni saktë numrin e cështjes' : isCaseNumberValid === false ? 'cështja nuk ekziston' : isCaseNumberValid === 'processing' ? 'cështja po procesohet' : []"
                label="Shkruani numrin e Cështjes"
                v-model.trim="caseNumber"
                color="deep-purple"
              ></v-text-field>

              <v-flex xs12>
                <v-text-field
                  @blur="$v.description.$touch()"
                  :error="$v.description.$error"
                  :error-messages="$v.description.$error ? 'Plotësoni përshkrimin' : []"
                  multiLine
                  color="deep-purple"
                  v-model="description"
                >
                  <div slot="label">
                    Përshkrimi
                  </div>
                </v-text-field>
              </v-flex>

            </v-layout>

          </v-container>

        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="closeDialog">Anullo</v-btn>
          <v-btn color="blue darken-1" :disabled="$v.$invalid" flat @click.native="saveEdited">Ruaj</v-btn>
        </v-card-actions>

      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script src="./EditSessionCase.js"></script>
