<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="500px">
      <v-card>
        <v-card-title>
          <v-progress-linear color="deep-purple" :indeterminate="true" v-if="loading"></v-progress-linear>
          <span class="headline" v-if="!loading">Shto Seancë</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>

            <v-layout wrap>

              <v-flex xs12>
                <v-select
                  @blur="$v.caseNumber.$touch()"
                  :error="$v.caseNumber.$error"
                  :error-messages="$v.caseNumber.$error ? 'Plotësoni saktë numrin e cështjes' : []"
                  label="Shkruani numrin e cështjes"
                  color="deep-purple"
                  autocomplete
                  cache-items
                  item-text="caseNumber"
                  item-value="caseNumber"
                  :loading="selectLoading"
                  :items="caseNumberItems"
                  :search-input.sync="selectSearch"
                  v-model="caseNumber"
                  no-data-text="Cështja nuk ekziston"
                ></v-select>
              </v-flex>

              <v-flex xs12>
                <v-text-field
                  @blur="$v.description.$touch()"
                  :error="$v.description.$error"
                  :error-messages="$v.description.$error ? 'Plotësoni përshkrimin' : []"
                  multiLine
                  color="deep-purple"
                  v-model.trim="description"
                >
                  <div slot="label">
                    Përshkrimi
                  </div>
                </v-text-field>
              </v-flex>

            </v-layout>

          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="close">Anullo</v-btn>
          <v-btn color="blue darken-1" :disabled="$v.$invalid" flat @click.native="save">Ruaj</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script src="./AddSessionCase.js"></script>
