<template>
  <div>

    <template v-if="addDialog">
      <AddCase :dialog.sync="addDialog" />
    </template>

    <template v-if="editDialog">
      <EditCase :dialog.sync="editDialog" :tableRow="tableRow" @tableUpdated="updateTable()" />
    </template>

    <template v-if="deleteDialog">
      <DeleteCase
        :dialog.sync="deleteDialog"
        :tooltipText="tooltipText"
        :btnText="btnText"
        @onConfirmed="deleteRow" />
    </template>

    <Table
      :allHeaders="allHeaders"
      :passedSelectedHeaders="selectedHeaders"
      :tableContent="tableContent"
      :dbResponse="dbResponse"
      :currentPage="tableBelongsTo"
      :filterTable="filterTable"
      :tableUpdated="tableUpdated"
      :tableLoading="tableLoading"
      @tableFinishUpdate="tableFinishUpdate"
      @onAddRow="addRow"
      @onEditRow="editRow($event)"
      @onDelete="confirmDelete($event)"
    >
      <template slot-scope="props" slot="1st">{{ props.item.caseNumber}}</template>
      <template slot-scope="props" slot="2nd">{{ props.item.caseResult}}</template>
      <template slot-scope="props" slot="3rd">{{ props.item.nrakti}}</template>
      <template slot-scope="props" slot="4th">{{ props.item.monthText}}</template>
      <template slot-scope="props" slot="5th">{{ props.item.plaintiff}}</template>
      <template slot-scope="props" slot="6th">{{ props.item.defendent}}</template>
      <template slot-scope="props" slot="7th">{{ props.item.thirdParties}}</template>
      <template slot-scope="props" slot="8th">{{ props.item.object}}</template>
      <template slot-scope="props" slot="9th">{{ props.item.claimValue}}</template>
      <template slot-scope="props" slot="10th">{{ props.item.judge}}</template>
      <template slot-scope="props" slot="11th">{{ props.item.courtText}}</template>
      <template slot-scope="props" slot="12th">{{ props.item.nameSurname}}</template>
      <template slot-scope="props" slot="13th">{{ props.item.archived}}</template>
    </Table>
  </div>
</template>

<script src="./Home.js"></script>
