<template>
  <v-layout wrap>
    <v-navigation-drawer
      temporary
      v-model="drawer"
      absolute
      right
      dark
      style="background-color: #2E2A5B"
      disable-resize-watcher
    >
      <v-list class="pa-1">
        <v-list-tile avatar>
          <v-list-tile-avatar>
            <v-icon color="red">account_circle</v-icon>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>{{ nameSurname }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <v-list class="pt-0" dense>
        <v-divider></v-divider>
        <v-list-tile
          v-for="link in userPermissions"
          :key="link.text"
          :to="link.link"
          class="navDrawer-link"
          @click="link.action ? linkClicked(link.action) : ''"
          active-class="btn--active red--text white" exact
        >
          <v-list-tile-action>
            <v-icon color="red">{{ link.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ link.text }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
  </v-layout>
</template>

<script src="./NavigationDrawer.js"></script>
<style scoped>
  .navDrawer-container {
    background-color: yellow;
  }
  .navDrawer-link:hover {
    background-color: darkmagenta;
  }
</style>
