<template>
  <v-container class="mt-4">

    <template v-if="tableBelongsTo('case') && modal">
      <FilterModal
      :modal.sync="modal"
      :filterTable="tableFilters"
      />
    </template>


    <v-layout row wrap justify-center>
      <v-flex xs12>
        <v-card>
          <v-card-title>

            <v-tooltip top color="deep-purple" class="mt-4" v-if="checkUser.managePermissions(currentPage, 'add')">
              <v-btn fab small dark v-gradient slot="activator" @click="addRow">
              <v-icon>add</v-icon>
              </v-btn>
              <span v-if="tableBelongsTo('user')">Shto Përdorues</span>
              <span v-if="tableBelongsTo('sessionCase')">Shto Seancë</span>
              <span v-if="tableBelongsTo('case')">Shto Cështje <br></span>
            </v-tooltip>

            <v-select
              class="pl-3 mt-4"
              v-if="tableBelongsTo('case')"
              :items="allHeaders"
              multiple
              :hide-selected="true"
              v-model="headersSelected"
              item-text="text"
              item-value="value"
              color="deep-purple"
              return-object
              max-height="400"
              hint="Zgjidhni kolonat e tabelës"
              persistent-hint
            >

              <template slot="selection" slot-scope="data">
                <div v-if="data.index === 0">{{ getSelectedColumnsSelectionText() }}...</div>
              </template>

            </v-select>

            <v-spacer></v-spacer>
            <v-spacer></v-spacer>

            <v-text-field
              append-icon="search"
              @keyup.27="pagination.search = ''"
              label="Kërko"
              single-line
              color="deep-purple"
              hide-details
              v-model.trim="pagination.search"
            ></v-text-field>

            <v-tooltip top color="deep-purple" class="mt-3" v-if="tableBelongsTo('case')">
              <v-btn :fab="isTableFiltered" :flat="!isTableFiltered" :small="isTableFiltered"  icon color="deep-purple" slot="activator" @click="openFilter">
                <v-icon color="white" v-if="isTableFiltered">filter_list</v-icon>
                <v-icon color="deep-purple" v-else>filter_list</v-icon>
              </v-btn>
              <span v-if="isTableFiltered">Çështjet janë të Filtruara</span>
              <span v-else>Filtro Çështje</span>
            </v-tooltip>

          </v-card-title>

          <v-data-table
            :headers="sortedHeaders"
            :items="itemsToDisplay"
            :loading="loading"
            :total-items="totalItems"
            :rowsPerPageItems="filterRowsPerPage"
            rows-per-page-text="Rreshta për faqe:"
            :pagination.sync="pagination"
          >
            <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
            <template slot="items" slot-scope="props">

              <tr>

                <td class="text-xs-center" v-if="shouldShow(1)"><slot name="1st" :item="props.item"></slot></td>

                <!--<td class="text-xs-center" v-if="shouldShow(2)"><slot name="2nd" :item="props.item"></slot></td>-->

                  <td class="text-xs-center" v-if="shouldShow(2)">
                    <slot name="2nd" :item="props.item"></slot>
                    <span v-if="tableBelongsTo('sessionCase')">
                      <a style="color: #673AB7" v-if="checkLength(props.item.id)" @click.self="props.expanded = !props.expanded"> ... Me shume</a>
                    </span>
                  </td>


                <td class="text-xs-center" v-if="shouldShow(3)"><slot name="3rd" :item="props.item"></slot></td>
                <td class="text-xs-center" v-if="shouldShow(4)"><slot name="4th" :item="props.item"></slot></td>
                <td class="text-xs-center" v-if="shouldShow(5)"><slot name="5th" :item="props.item"></slot></td>
                <td class="text-xs-center" v-if="shouldShow(6)"><slot name="6th" :item="props.item"></slot></td>
                <td class="text-xs-center" v-if="shouldShow(7)"><slot name="7th" :item="props.item"></slot></td>
                <td class="text-xs-center" v-if="shouldShow(8)"><slot name="8th" :item="props.item"></slot></td>
                <td class="text-xs-center" v-if="shouldShow(9)"><slot name="9th" :item="props.item"></slot></td>
                <td class="text-xs-center" v-if="shouldShow(10)"><slot name="10th" :item="props.item"></slot></td>
                <td class="text-xs-center" v-if="shouldShow(11)"><slot name="11th" :item="props.item"></slot></td>
                <td class="text-xs-center" v-if="shouldShow(12)"><slot name="12th" :item="props.item"></slot></td>
                <td class="text-xs-center" v-if="shouldShow(13)"><slot name="13th" :item="props.item"></slot></td>

              <td class="text-xs-center" v-if="checkUser.managePermissions(currentPage, 'edit') || checkUser.managePermissions(currentPage, 'delete')">
                <div>
                <v-btn small icon class="mx-0" @click="editItem(props.item)" v-if="checkUser.managePermissions(currentPage, 'edit')">
                  <v-icon color="teal">edit</v-icon>
                </v-btn>

                <v-btn small icon class="mx-0" @click="deleteItem(props.item.id)" v-if="checkUser.managePermissions(currentPage, 'delete')">
                  <v-icon color="pink">delete</v-icon>
                </v-btn>
                </div>
              </td>

              </tr>
            </template>

            <template v-if="tableBelongsTo('sessionCase')" slot="expand" slot-scope="props">
              <v-card flat>
                <v-card-text>
                  <h3 class="text-xs-center">Përshkimi:</h3>
                  <p class="text-xs-center expanation-panel-description">
                    {{ takeDescriptionText(props.item.id) }}
                  </p>
                </v-card-text>
              </v-card>
            </template>

            <template slot="no-data">
              <v-alert :value="true" color="error" icon="warning">
                Nuk u gjeten rekorde :(
              </v-alert>
            </template>
            <template slot="pageText" slot-scope="props">
              Rreshta: {{  pagination.page === 1 ? 1 : pagination.rowsPerPage * (pagination.page -1) + 1 }} deri në {{ props.pageStop }} nga totali {{ props.itemsLength }}
            </template>
          </v-data-table>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>

</template>

<script src="./Table.js"></script>

<style scoped>
  .expanation-panel-description {
    word-break: break-all;
  }
</style>
