<template>
  <div>

    <template v-if="addDialog">
      <AddDialog :dialog.sync="addDialog" @tableUpdated="updateTable()" />
    </template>

    <template v-if="editDialog">
      <EditDialog :dialog.sync="editDialog" :editedRow="sessionCaseDataToEdit" @tableUpdated="updateTable()" />
    </template>

    <template v-if="deleteDialog">
      <DeleteDialog
        :dialog.sync="deleteDialog"
        :tooltipText="tooltipText"
        :btnText="btnText"
        @onConfirmed="deleteRow()"
      />
    </template>

    <Table
      :allHeaders="headers"
      :passedSelectedHeaders="headers"
      :tableContent="tableContent"
      :dbResponse="dbResponse"
      :currentPage="tableBelongsTo"
      :tableUpdated="tableUpdated"
      :tableLoading="tableLoading"
      @tableFinishUpdate="tableFinishUpdate"
      @onAddRow="addRow()"
      @onEditRow="editRow($event)"
      @onDelete="confirmDelete($event)"
    >
      <template slot-scope="props" slot="1st">{{ props.item.caseNumber}}</template>
      <template slot-scope="props" slot="2nd">{{ props.item.description}}</template>
    </Table>

  </div>
</template>

<script src="./SessionCases.js"></script>
