<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="400">
      <v-card>
        <v-card-title class="headline white--text fill-height justify-center" v-gradient>
          <v-layout row wrap justify-right>

            <v-flex xs11>
              Jeni i sigurtë?
            </v-flex>

            <v-flex xs1>
              <v-tooltip right color="deep-purple" max-width="200">
                <v-icon large color="white" slot="activator">info</v-icon>
                <span>
                    {{ tooltipText }}
                  </span>
              </v-tooltip>
            </v-flex>

          </v-layout>
        </v-card-title>
        <v-card-text class="text-xs-center">
          <h3>
            <p>Konfirmoni fshirjen duke shkruajtur më poshtë "jam i sigurte"</p>
          </h3>
          <v-text-field color="deep-purple" v-model.trim="text" @keyup="checkText" label="Shkruani ketu"></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" outline @click.native="close">Dil</v-btn>
          <v-btn color="red darken-1" :disabled="!ableToClick" outline @click.native="confirm">{{ btnText }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>
  export default {
    props: {
      dialog: {
        default: false
      },
      tooltipText: {
        required: true
      },
      btnText: {
        required: true
      }
    },
    data() {
      return {
        text: '',
        ableToClick: false
      }
    },
    methods: {
      checkText () {
        if (this.text === 'jam i sigurte') {
          this.ableToClick = true
        }else {
          this.ableToClick = false
        }
      },
      confirm () {
        if (this.text !== 'jam i sigurte') {
          this.ableToClick = false
          return
        }

        this.$emit('onConfirmed')
      },
      close () {
        this.$emit('update:dialog')
      }
    },
    name: 'DeleteDialog'
  }
</script>

