<template>
  <v-layout row justify-center>
    <v-dialog v-model="modal" persistent max-width="500px">
      <v-card>
        <v-card-title>
          <v-progress-linear color="deep-purple" :indeterminate="true" v-if="loading"></v-progress-linear>
          <span class="headline" v-if="!loading">Shto Përdorues</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>

            <v-layout wrap>

              <v-flex xs12 md6>
                <v-text-field
                  color="deep-purple"
                  @blur="$v.name.$touch()"
                  :error="$v.name.$error"
                  :error-messages="$v.name.$error ? 'Plotësoni Emrin' : [] "
                  label="Emër"
                  v-model.trim="name"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 md6>
                <v-text-field
                  color="deep-purple"
                  @blur="$v.lastName.$touch()"
                  :error="$v.lastName.$error"
                  :error-messages="$v.lastName.$error ? 'Plotësoni Mbiemrin' : [] "
                  label="Mbiemër"
                  v-model.trim="lastName"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 md6>
                <v-text-field
                  color="deep-purple"
                  @blur="$v.email.$touch()"
                  :error="$v.email.$error"
                  :error-messages="$v.email.$pending ? 'Emaili po procesohet......' : !$v.email.isUnique && !$v.email.$pending ? 'Emaili është i përdorur' : $v.email.$error ? 'Plotësoni saktë emailin' : []"
                  label="E-mail"
                  v-model.trim="email"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 md6>
                <v-text-field
                  color="deep-purple"
                  @blur="$v.password.$touch()"
                  :error="$v.password.$error"
                  :error-messages="$v.password.$error ? 'Plotesoni fjalëkalimin' : [] "
                  label="Fjalëkalimi"
                  type="password"
                  v-model.trim="password"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 md6>
                <v-text-field
                  color="deep-purple"
                  @blur="$v.repeatPassword.$touch()"
                  :error="$v.repeatPassword.$error"
                  :error-messages="$v.repeatPassword.$error ? 'Fjalëkalimi nuk përputhet' : [] "
                  label="Përserisni fjalëkalimin"
                  type="password"
                  v-model.trim="repeatPassword"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 md6>
                <v-select
                  color="deep-purple"
                  @blur="$v.department.$touch()"
                  :error="$v.department.$error"
                  :error-messages="$v.department.$error ? 'Zgjidhni departamentin' : [] "
                  label="Departamenti"
                  v-model="department"
                  :items="departmentItems"
                  item-text="departmentText"
                  item-value="id"
                ></v-select>
              </v-flex>

                <v-flex xs12 md6>
                  <v-select
                    color="deep-purple"
                    @blur="$v.userType.$touch()"
                    :error="$v.userType.$error"
                    :error-messages="$v.userType.$error ? 'Ju lutem zgjidhni tipin e perdoruesit' : [] "
                    label="Tipi i Përdoruesit"
                    v-model="userType"
                    :items="userTypeItems"
                    item-text="userTypeText"
                    item-value="id"
                  ></v-select>
                </v-flex>

              <v-flex xs12 md6>
                <v-select
                  color="deep-purple"
                  @blur="$v.status.$touch()"
                  :error="$v.status.$error"
                  :error-messages="$v.status.$error ? 'Ju lutem zgjidhni statusin' : [] "
                  label="Statusi"
                  v-model="status"
                  :items="statusItems"
                  item-text="statusText"
                  item-value="id"
                ></v-select>
              </v-flex>

            </v-layout>

          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="close">Anullo</v-btn>
          <v-btn color="blue darken-1" flat @click.native="save">Ruaj</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script src="./AddUser.js"></script>


