<template>
  <v-flex>
    <v-toolbar dark v-gradient>
      <v-toolbar-title>
        <router-link to="/" tag="span" style="cursor: pointer">Avokatura e pergjithshme e shtetit</router-link> - {{ getCurrentPage }}
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-side-icon @click.stop="drawerClicked"></v-toolbar-side-icon>
    </v-toolbar>
  </v-flex>
</template>

<script src="./Toolbar.js"></script>

