<template>
  <v-layout row justify-center>
  <v-dialog v-model="modal" persistent max-width="500px">
    <v-card>
      <v-card-title>
        <span class="headline">Nryshoni Fjalëkalimin</span>
      </v-card-title>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>

            <v-flex xs12>
              <v-text-field
                @keyup.enter="save()"
                color="deep-purple"
                @blur="$v.oldPassword.$touch()"
                :error="$v.oldPassword.$error"
                :error-messages="$v.oldPassword.$error ? 'Ju lutem plotësoni fjalëkalimin e vjetër' : [] "
                label="Fjalëkalimi i vjeter"
                type="password"
                v-model.trim="oldPassword"
              ></v-text-field>
            </v-flex>

            <v-flex xs12>
              <v-text-field
                @keyup.enter="save()"
                color="deep-purple"
                @blur="$v.newPassword.$touch()"
                :error="$v.newPassword.$error"
                :error-messages="$v.newPassword.$error ? 'Ju lutem plotësoni fjalëkalimin e ri' : [] "
                label="Fjalëkalimi i ri"
                type="password"
                v-model.trim="newPassword"
              ></v-text-field>
            </v-flex>

            <v-flex xs12>
              <v-text-field
                @keyup.enter="save()"
                color="deep-purple"
                @blur="$v.repeatPassword.$touch()"
                :error="$v.repeatPassword.$error"
                :error-messages="$v.repeatPassword.$error ? 'Fjalëkalimet nuk perputhen' : [] "
                label="Përsërisni fjalëkalimin e ri"
                type="password"
                v-model.trim="repeatPassword"
              ></v-text-field>
            </v-flex>

          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" flat @click.native="close">Anullo</v-btn>
        <v-btn color="blue darken-1" flat @click.native="save">Ruaj</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</v-layout>
</template>

<script src="./ChangePasswordModal.js"></script>
