<template>
  <v-layout row justify-center>
    <v-dialog v-model="modal" persistent max-width="550px">
      <v-card>
        <v-card-title v-gradient class="white--text">

          <template v-if="loading">
            <v-progress-linear :indeterminate="true" color="white"></v-progress-linear>
          </template>

          <template v-else>
            <span class="headline text-xs-center">
              <small>
                Filtroni çështjet qe dëshironi duke zgjedhur një ose disa prej filtrave të mëposhtem
              </small>
            </span>
          </template>

        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm6 v-if="!checkUser.isBasicUser()">
                <v-select
                  :items="lawyerItems"
                  item-text="nameSurname"
                  item-value="nameSurname"
                  no-data-text="Nuk ekziston Avokat"
                  v-model="lawyer"
                  color="deep-purple"
                  label="Avokati"
                  autocomplete
                ></v-select>
              </v-flex>

              <v-flex xs12 sm6>
                <v-select
                  :items="caseResultItems"
                  item-text="caseResult"
                  item-value="caseResult"
                  no-data-text="Nuk ekziston Gjykata"
                  v-model="caseResult"
                  color="deep-purple"
                  label="Rezultati i Gjykatës"
                  autocomplete
                ></v-select>
              </v-flex>

              <v-flex xs12 sm6>
                <v-select
                  label="Çështje për arkivim"
                  autocomplete
                  color="deep-purple"
                  v-model="archived"
                  :items="archivedItems"
                ></v-select>
              </v-flex>




              <v-flex xs12 sm6>
                <v-text-field
                  type="number"
                  clearable
                  v-model="year"
                  label="Shkruani vitin"
                  color="deep-purple"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 sm6>
                <v-select
                  v-model="month"
                  autocomplete
                  color="deep-purple"
                  :items="monthItems"
                  item-text="monthText"
                  item-value="monthText"
                  no-data-text="Nuk ekziston Muaji"
                  label="Zgjidhni Muajin"
                >
                </v-select>
              </v-flex>

              <v-flex xs12 sm6 v-if="checkUser.isAdmin() || checkUser.isNormalUser()">
                <v-select
                  v-model="department"
                  autocomplete
                  color="deep-purple"
                  :items="departmentItems"
                  item-text="departmentText"
                  item-value="departmentText"
                  label="Zgjidhni departamentin"
                  no-data-text="Nuk ekziston departamenti"
                >
                </v-select>
              </v-flex>

            </v-layout>
          </v-container>
        </v-card-text>

        <v-card-actions v-if="loading">
          <v-progress-linear :indeterminate="true" color="deep-purple"></v-progress-linear>
        </v-card-actions>

        <v-card-actions v-else>
          <v-spacer></v-spacer>

          <v-btn color="red darken-4" dark @click.native="closeModal()">
            Hiq Filtrat
            <v-icon right>clear</v-icon>
          </v-btn>

          <v-btn color="white" light @click.native="clearFilters()">
            Pastro Filtrin
            <v-icon right>clear_all</v-icon>
          </v-btn>

          <v-btn v-gradient dark @click.native="save">
            Filtro çështjet
            <v-icon right color="white">search</v-icon>
          </v-btn>

        </v-card-actions>

      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script src="./FilterModal.js"></script>
<style scoped>

</style>
