<template>
  <v-app>

    <v-container fluid v-if="isLogged" style="padding:0px">

      <v-layout class="loading-container" v-if="isLoading">
        <v-progress-circular class="loading" indeterminate :size="70" :width="7" color="purple"></v-progress-circular>
      </v-layout>

      <v-layout v-else>
        <v-flex xs12>

          <NavDrawer :drawerPassed="drawer" @onDrawerClose="drawer = false" />
          <Toolbar @onHamburgerClicked="hamburgerClicked" />

          <template v-if="getProfileStatus">
            <ProfileModal />
          </template>

          <template v-if="passwordModal">
            <ChangePassword :modal.sync="passwordModal" :userID="userIDtoChangePassword" />
          </template>

          <SnackBar />

          <router-view></router-view>

        </v-flex>
      </v-layout>

    </v-container>
          <LogoutModal :modal.sync="logoutModal" />
        <router-view v-if="!isLogged"></router-view>

  </v-app>
</template>

<script>
  import { mapGetters } from 'vuex'
  import ProfileModal from './components/profile/Profile.vue'
  import NavDrawer from './common/navigation-drawer/NavigationDrawer.vue'
  import Toolbar from './common/toolbar/Toolbar.vue'
  import SnackBar from '@/common/snackbar/SnackBar.vue'
  import ChangePassword from '@/common/change-password-modal/ChangePasswordModal.vue'
  import { eventBus } from './main'
  import LogoutModal from '@/components/logout-modal/LogoutModal.vue'


  export default {
    data() {
      return {
        logoutModal: false,
        drawer:false,
        passwordModal: false,
        userIDtoChangePassword: null
      }
    },
    created () {
      eventBus.$on('changePassword', (data) => {
        this.passwordModal = data.open
        this.userIDtoChangePassword = data.userID
      })

      eventBus.$on('logout', () => this.logoutModal = true )
    },
    computed: {
      ...mapGetters([
        'isLogged',
        'isLoading',
        'getProfileStatus',
      ])
    },
    components: {
      NavDrawer,
      Toolbar,
      ProfileModal,
      SnackBar,
      ChangePassword,
      LogoutModal
    },
    methods: {
      hamburgerClicked() {
        this.drawer = !this.drawer;
      },
      drawerClosed(newDrawerValue) {
        this.drawer = newDrawerValue
      }
    }
  }
</script>

<style>
  html {
    overflow-y: auto;
  }

  .loading-container {
    background: transparent;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>



