<template>
  <v-container>
    <v-layout row wrap justify-center>
      <v-flex xs12>
        <div class="items">
          <h1 class="item">Kjo faqe nuk ekziston</h1>
          <v-btn class="item" v-if="!isUserLogged" :to="route">{{ btnText }}</v-btn>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  export default {
    data() {
      return {
        route: null,
        btnText: null,
        isUserLogged: true,
      }
    },
    created() {
      if (!this.$auth.isAuthenticated()) {
        this.route = {
          name: 'Login'
        }
        this.btnText = 'Shkoni te Login'
        this.isUserLogged = false
      }
    }
  }
</script>

