<template>
  <div>

    <template v-if="editDialog">
      <EditDialog :editedRow="passedEditedRow" :dialog.sync="editDialog" @tableUpdated="updateTable" />
    </template>

    <template v-if="addDialog">
      <AddDialog
        :modal.sync="addDialog"
        @tableUpdated="updateTable"
      />
    </template>

    <template v-if="deleteDialog">
      <DeleteDialog
        :dialog.sync="deleteDialog"
        :tooltipText="tooltipText"
        :btnText="btnText"
        :tableLoading="tableLoading"
        @onConfirmed="deleteRow"
      />
    </template>

    <Table
      :allHeaders="headers"
      :tableContent="tableContent"
      :dbResponse="dbResponse"
      :passedSelectedHeaders="headers"
      :tableUpdated="tableUpdated"
      @tableFinishUpdate="tableFinishUpdate"
      :currentPage="tableBelongsTo"
      @onEditRow="editItem($event)"
      @onDelete="confirmDelete($event)"
      @onAddRow="addRow"
    >
      <template slot-scope="props" slot="1st">{{ props.item.nameSurname}}</template>
      <template slot-scope="props" slot="2nd">{{ props.item.email}}</template>
      <template slot-scope="props" slot="3rd">{{ props.item.departmentText}}</template>
      <template slot-scope="props" slot="4th">{{ props.item.userTypeText }}</template>
      <template slot-scope="props" slot="5th">{{ props.item.statusText }}</template>
    </Table>

  </div>
</template>

<script src="./Users.js"></script>

