<template>
  <v-snackbar
    :color="snackbarColor"
    v-model="snackbar"
    :timeout="timeout"
    class="mb-4"
  >
    {{ text }}
    <v-btn flat icon color="white" @click.native="snackbar = false">
      <v-icon>clear</v-icon>
    </v-btn>
  </v-snackbar>
</template>
<script>
  import { eventBus } from '@/main'
  export default {
    data() {
      return {
        snackbar: false,
        text: null,
        snackbarColor: null,
        btnColor: null,
        timeout: 4000,
      }
    },
    created () {
      eventBus.$on('snackBar', (dataPassed) => {
        this.text = dataPassed.text
        this.snackbarColor = dataPassed.snackbarColor
        this.snackbar = true
      })
    },
    name: 'SnackBar'
  }
</script>
