<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="700px">
      <v-card>

        <v-card-title>
          <v-progress-linear color="deep-purple" :indeterminate="true" v-if="loading"></v-progress-linear>
          <span class="headline" v-if="!loading">Editoni Përdorues</span>
        </v-card-title>

        <v-card-text>

          <v-container grid-list-md>

            <v-layout wrap justify-center v-if="checkUser.isAdmin">

              <v-flex xs12 md6>
                <v-text-field
                  @blur="$v.name.$touch()"
                  :error="$v.name.$error"
                  :error-messages="$v.name.$error ? 'Plotësoni emrin' : []"
                  label="Emri"
                  v-model="name"
                  color="deep-purple"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 md6>
                <v-text-field
                  @blur="$v.lastName.$touch()"
                  :error="$v.lastName.$error"
                  :error-messages="$v.lastName.$error ? 'Plotësoni Mbiemrin' : []"
                  label="Mbiemri"
                  v-model="lastName"
                  color="deep-purple"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 md6>
                <v-text-field
                  @blur="$v.email.$touch()"
                  :error="$v.email.$error"
                  :error-messages="!$v.email.isUnique && !$v.email.$pending ? 'Emaili është i përdorur' : $v.email.$error ? 'Plotësoni saktë emailin' : []"
                  label="E-mail"
                  v-model.trim="email"
                  color="deep-purple"
                ></v-text-field>
              </v-flex>

              <v-flex xs12 md6>
                <v-select
                  label="Tipi i përdoruesit"
                  v-model="userType"
                  :items="userTypeItems"
                  item-text="userTypeText"
                  item-value="id"
                  color="deep-purple"
                ></v-select>
              </v-flex>

              <v-flex xs12 md6>
                <v-select
                  label="Statusi"
                  v-model="status"
                  :items="statusItems"
                  item-text="statusText"
                  item-value="id"
                  color="deep-purple"
                ></v-select>
              </v-flex>

              <v-flex xs11 md5>
                <v-text-field
                  label="Fjalëkalimi"
                  readonly
                  value="@mla!@1aS2131"
                  type="password"
                  color="deep-purple"
                ></v-text-field>
              </v-flex>

              <v-flex xs1 md1>
                <v-btn outline small fab color="deep-purple" class="btn-change-password" @click="changePassword()">
                  <v-icon>edit</v-icon>
                </v-btn>
              </v-flex>

              <v-flex xs12 md8>
                <v-select
                  label="Departamenti"
                  v-model="department"
                  :items="departmentItems"
                  item-text="departmentText"
                  item-value="id"
                  color="deep-purple"
                ></v-select>
              </v-flex>

            </v-layout>

          </v-container>

        </v-card-text>

        <v-card-actions v-if="!loading">
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="closeDialog">Anullo</v-btn>
          <v-btn color="blue darken-1" flat @click.native="saveEdited">Ruaj</v-btn>
        </v-card-actions>

      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script src="./EditUser.js"></script>


